.project-item .project__content {
  padding: 10px;
}

.textAlignEnd {
  text-align: end;
}
.one4rem {
  font-size: 1.4rem !important;
}
.customFormAwesomIcon {
  font-family: "FontAwesome";
  font-style: initial;
}

.noPaddingBottom {
  padding-bottom: 0px !important;
}

.setColorWhite {
  color: white !important;
}

.noTextTransform {
  text-transform: none !important;
}

.customSliderFigure {
  height: 30rem !important;
}

.postcaption h3 {
  color: #fff !important;
  font-size: 1.5rem !important;
}

.image-hover figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.image-hover figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

.hover-effects figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover-effects figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blog-preview-thumb {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  min-height: 403px !important;
  max-height: 403px !important;
}

.blog-preview-thumb * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.blog-preview-thumb img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
}

.blog-preview-thumb .postcaption {
  padding: 25px 20px 25px;
  position: inherit;
  bottom: 0;
  z-index: 1;
}

.blog-preview-thumb .postcaption h3 {
  line-height: 1.1;
  margin-bottom: 15px;
}

.blog-preview-thumb .postcaption p {
  font-size: 13px;
  line-height: 1.6;
  color: #fff;
}

.blog-preview-thumb .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.blog-preview-thumb .date span {
  display: block;
  line-height: 14px;
}

.blog-preview-thumb .date .month {
  font-size: 11px;
}

.blog-preview-thumb h3,
.blog-preview-thumb p {
  margin: 0;
  padding: 0;
}

.blog-preview-thumb h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.blog-preview-thumb .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  /* background-color: rgba(2, 11, 53, 0.75); */
  background-color: rgb(11, 11, 46);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.blog-preview-thumb a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.blog-preview-thumb:hover .hover,
.blog-preview-thumb.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.blog-preview-thumb:hover .postcaption,
.blog-preview-thumb.hover .postcaption {
  opacity: 0;
}

.blog-preview-thumb:hover .date,
.blog-preview-thumb.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.noPaddingTop {
  padding-top: 0px !important;
}
.displayBlock {
  display: block !important;
}
.customFontSize {
  font-size: 1.5rem !important;
}
.customMarginTop {
  margin-top: -8rem !important;
}
.map-wrapper {
  background-image: url("../images/world-map.png");
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -15rem;
}

.map-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000099, #000099);
  opacity: 0.85;
}

.mw-content h2 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff !important;
  font-size: 2rem;
}

.ha-leftside h5 {
  color: #cc2c31;
  margin-bottom: 0px;
  font-size: 1.25rem !important;
}

.ha-leftside h1 {
  font-size: 2.6rem !important;
  line-height: 1.2 !important;
  margin-top: 10px !important;
}

.ha-signature {
  width: 180px;
  margin-top: 1rem;
}

.ha-signature img {
  width: 100%;
}

.ha-rightside p {
  font-size: 17px;
  text-align: justify;
}

.ha-rightside strong {
  font-weight: 600;
  color: #333;
}

.ha-banner {
  margin-top: 3rem;
  background-color: #fff;
}

.hab-inner {
  display: inline-block;
  width: 250px;
}

.hab-inner-alter {
  display: inline-block;
  width: 250px;
}

.ha-banner h4 {
  font-size: 18px;
  font-weight: 600;
}

.ha-banner p {
  font-size: 14px;
  margin-top: -5px;
}

.ha-banner .media .mr-3 {
  width: 45px;
}

.ha-banner .media .mr-3 img {
  width: 100%;
}

.customImgIcon {
  width: 3% !important;
  margin-right: 1%;
}

.ha-banner .media .media-body h5 {
  margin-bottom: 3px;
  font-size: 1.25rem !important;
}

.ha-banner .media .media-body p {
  margin-bottom: 0px;
}

.sb-thumb {
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.sb-thumb * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.sb-thumb img {
  /* opacity: 0.9; */
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 1, 1, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  max-width: 100%;
}

.sb-thumb:after {
  background: #000000;
  width: 0;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sb-thumb:hover img,
.sb-thumb.hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.sb-thumb:hover:after,
.sb-thumb.hover:after {
  width: 100%;
}

.sb-thumb.green:after {
  background-color: #cc2c31;
}

.cargoy-sb {
  position: relative;
}

.sb-caption {
  position: absolute;
  bottom: 0rem;
  left: 2rem;
  color: #fff !important;
  z-index: 1;
}
.sb-caption h4 {
  color: #fff !important;
  font-size: 1.3rem !important;
}

.sb-caption h4 {
  font-weight: 400;
}

.sb-caption .icon-caption {
  width: 50px;
  margin: 0px;
}

.sb-caption .icon-caption img {
  width: 100%;
}

.paragraph {
  text-align: justify;
}

.heading {
  text-align: center;
  font-size: 30px;
}

.points {
  list-style-type: circle;
  font-size: 12px;
  background-color: #242222;
}

.paragraph-point {
  background-color: #0a5aab;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}

.paragraph-title {
  font-size: 20px;
  color: #030343;
  font-weight: bold;
}

.project-item .project__cat {
  bottom: auto;
  top: 0;
}

.myDiv {
  display: none;
}

.contact {
  color: #ffffff;
}

.about_us {
  margin: 8rem !important;
}

.about_us_image {
  margin-top: -95px;
  background-image: url("/assets/images/new.jpg");
}

.about_us_heading {
  color: #02305e;
}

.about_us_p {
  color: #ffffff;
}

.card1 {
  box-shadow: #000000;
  background-color: #02305e;
  margin: auto;
  height: 350px;
  padding: 0;
  border-radius: 25px;
  border-left-color: rgb(4, 4, 77);
}

.card2 {
  box-shadow: #000000;
  background-color: #02305e;
  margin: auto;
  height: 350px;
  padding: 0;
  border-radius: 25px;
  border-right-color: rgb(4, 4, 77);
}

.card_head {
  background-color: #030343;
  text-align: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card_h4 {
  color: #ffffff;
  padding: 10px;
}

.card_content {
  margin: 5%;
  padding: 9%;
  text-align: center;
  height: 250px;
}

.q {
  quotes: inherit;
  size: 5px;
}

.quality_policy {
  text-align: center;
  padding-bottom: 25px;
}

.card_sec {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ws-parallax-layer {
  background-image: url("../images/slider1.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ws-parallax-layer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.8;
}

.ws-parallax-layer-right {
  background-image: url("../images/vision.jpg");
  /* height: 600px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ws-parallax-layer-right:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.7;
}

.ws-content-left {
  position: relative;
  z-index: 1;
  padding: 8% 10%;
}

.ws-content-left h5 {
  color: #cc2c31;
  margin-bottom: 0px;
}

.ws-content-left h2 {
  color: #fff;
}

.ws-content-left p {
  color: #fff;
}

.wrapper-testimonials-parallax {
  background-image: url("/assets/images/holding_company.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5% 0% 4%;
}

.wrapper-testimonials-parallax:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.7;
}

.tp-content {
  text-align: right;
  z-index: 1;
  color: #fff !important;
  padding-top: 1rem;
}

.tp-content h2 {
  font-weight: 400;
  line-height: 1.3;
  color: white;
}

.tp-content h2 strong {
  font-weight: 600;
  text-transform: uppercase;
}

.tp-content h5 {
  font-size: 14px;
  margin-bottom: 0px;
}

.testimonials-carousel .slide {
  margin: 10px;
}

.tp-box-content {
  /* height: 100%; */
  height: 12rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background: rgba(8, 66, 116, 0.5);
  color: #fff !important;
  padding: 2rem 1.3rem;
  clear: both;
  cursor: pointer;
}

.inner-content {
  z-index: 2;
  position: relative;
}

.inner-content p {
  color: #fff !important;
}

.tp-box-content .media {
  /* position: relative; */
  position: fixed;
  z-index: 2;
}

.tp-box-content .media .fas {
  font-size: 2.5rem;
  margin-right: 15px;
  opacity: 0.5;
}

.media-body-no-marginTop {
  margin-top: 0px !important;
}

.media-body p {
  font-size: 13px;
  margin-top: 3%;
}

.about-author {
  text-align: center;
  clear: both;
  /* margin: 1rem 0rem 1rem; */
  margin: 0rem 0rem 1rem;
}

.author-info {
  display: inline-block;
  margin-right: 10px;
  padding-top: 1rem;
}

.author-info h6 {
  text-transform: uppercase;
  margin-bottom: 0px;
  color: white;
}

.author-info p {
  margin-bottom: 0px;
  font-size: 14px;
}

.author-avatar {
  width: 70px;
  float: right;
}

.author-avatar img {
  width: 100%;
  border-radius: 50%;
}

.snip1445 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}

.snip1445 *,
.snip1445 *:before,
.snip1445 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.snip1445 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1445 figcaption {
  position: absolute;
  bottom: 25px;
  right: 25px;
  padding: 5px 10px 10px;
}

.snip1445 figcaption:before,
.snip1445 figcaption:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: "";
  background-color: #ffffff;
}

.snip1445 figcaption:before {
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.snip1445 figcaption:after {
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.snip1445 figcaption div:before,
.snip1445 figcaption div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: "";
  background-color: #ffffff;
}

.snip1445 figcaption div:before {
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip1445 figcaption div:after {
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.snip1445 h2,
.snip1445 h4 {
  margin: 0;
  text-transform: uppercase;
}

.snip1445 h2 {
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0px;
}

.snip1445 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}

.snip1445 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1445:hover img,
.snip1445.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.snip1445:hover figcaption:before,
.snip1445.hover figcaption:before,
.snip1445:hover figcaption:after,
.snip1445.hover figcaption:after,
.snip1445:hover figcaption div:before,
.snip1445.hover figcaption div:before,
.snip1445:hover figcaption div:after,
.snip1445.hover figcaption div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.snip1445:hover figcaption:before,
.snip1445.hover figcaption:before,
.snip1445:hover figcaption:after,
.snip1445.hover figcaption:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* .air-freight-content .list-unstyled .media .mr-3 {
  width: 25px;
} */

.fontsize16 {
  font-weight: 16px !important;
}

.fontsize14 {
  font-weight: 14px !important;
}

/* .air-freight-content .list-unstyled .media .media-body p {
  color: #8c8c8c;
} */

/* .air-freight-content p {
  color: #0e377b;
} */

.widget_cs_pdf_download_widget h2.widget-title {
  color: #fff !important;
  font-size: 20px;
}

#secondary.widget-area.widget-has-sidebar .widget:last-child {
  margin-bottom: 0;
}

#secondary.widget-area.widget-has-sidebar .widget {
  padding: 35px 40px 40px;
  background: #f4f4f4;
  margin-bottom: 40px;
  border-radius: 3px;
}

.widget_cs_pdf_download_widget {
  background-image: url(/assets/images/pdf_red_bg.png) !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.widget_cs_pdf_download_widget .cms-pdf-download > a {
  padding: 20px;
  border: none;
  border-radius: 2px;
  background-color: #121c45;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  line-height: normal;
}

.widget_cs_pdf_download_widget .cms-pdf-download > a p {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
}

.widget_cs_pdf_download_widget .cms-pdf-download > a img {
  max-width: 22px;
  flex: none;
  margin-right: 15px;
}

.btn__fullwidth {
  width: 100%;
}

.cookie-policy-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
}

.cookie-policy-popup-content {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.noMargin {
  margin-left: 0rem !important;
}

.rowContent {
  display: contents !important;
}

@media only screen and (max-width: 360px) {
  .noMargin {
    margin-left: 0rem !important;
  }

  .rowContent {
    display: flex !important;
  }

  .customImgIcon {
    width: 5% !important;
    margin-right: 1%;
  }

  .mission-vission-txt {
    font-size: 1.6rem !important;
  }
}

.cookie-policy-button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.cookie-policy-accept {
  background-color: #0d204b;
}

.cookie-policy-decline {
  background-color: #cc2c31;
}

.cookie-btn-area {
  margin-left: 2rem;
}

.cookie-btn-area-top {
  /* margin-top: 3rem; */
  margin-top: 0rem;
}

.apg {
  color: #030343;
}

.bg-img {
  height: 350px;
}

.client {
  padding-top: 25px;
}

.bg-theme01 {
  background-color: #030343;
  height: 600px;
}

#inquiries {
  color: #ffffff;
}

section {
  padding-top: 3rem;
}

.contact {
  background-color: #e4e4e4;
  padding: 2rem;
}

.contact .list-group .list-group-item {
  color: #000;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
  padding: 1rem 0rem;
  background-color: transparent;
}

.apg_btn {
  background-color: #030343;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}

.btn_text {
  color: #ffffff;
  font-size: medium;
}

/* slick carousel */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide-marginLeft {
  margin-left: 8% !important;
}

.slick-slide-marginLeft23 {
  margin-left: 23% !important;
}

[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/*---------------------------
    Client
---------------------------*/
.clientsNoPadding {
  padding: 0% !important;
}

.clients-Custom .client {
  position: relative;
  overflow: hidden;
}

.clients-Custom .client img {
  padding: 10px;
  -webkit-transition: transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.clients-Custom .client img:first-of-type {
  opacity: 0.6;
}

.clients-Custom .client img:last-of-type {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
}

.clients-Custom .client:hover img:first-of-type {
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
}

.clients-Custom .client:hover img:last-of-type {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .cdiv {
    width: 150px;
    height: 60px;
  }

  .cl1 {
    margin-top: 40px;
  }
  .cl2 {
    margin-bottom: 40px;
  }
}

/* .gulfAirHero2{
  background-size: cover;
  background-position: 0rem -20rem !important;
  background-repeat: no-repeat !important;
} */

/* @media only screen and (max-width: 480px) {
  .gulfAirHero2 {
    background-position: -20rem -8rem !important;
    background-repeat: no-repeat !important;
  }
} */

/* Extra small devices (phones, <576 px and down) */
/* .responsive {
  background-size: auto !important;
} */
@media only screen and (max-width: 575px) {
  .bg-img {
    height: 275px !important;
  }

  .cookie-policy-popup-content {
    top: 70% !important;
  }

  .gulfAirHero2 {
    background-position: -17rem -12rem !important;
    background-repeat: no-repeat !important;
  }

  .airAsiaHero2 {
    background-position: -0rem -6rem !important;
    background-repeat: no-repeat !important;
  }

  .airMauritiusHero2 {
    background-position: -2rem -6rem !important;
    background-repeat: no-repeat !important;
  }
  .americanAirlinesHero2 {
    background-position: -11rem -11rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsianaHero2 {
    background-position: 0rem -8rem !important;
    background-repeat: no-repeat !important;
  }
  .cinnamonAirHero2 {
    background-position: -28rem -12rem !important;
    background-repeat: no-repeat !important;
  }
  .kenyaAirHero2 {
    background-position: 0rem -8rem !important;
    background-repeat: no-repeat !important;
  }
  .apgAirHero2 {
    background-size: 520px !important;
    background-position: -34rem -8rem !important;
    background-repeat: no-repeat !important;
  }
  .hongkongHero2 {
    background-position: -3rem -2rem !important;
    background-repeat: no-repeat !important;
  }
  .royalAirHero2 {
    background-position: -3rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .royalBruneiHero2 {
    background-position: -3rem -3rem !important;
    background-repeat: no-repeat !important;
  }
  .contactUsHero2 {
    background-position: -39rem -3rem !important;
    background-repeat: no-repeat !important;
  }
  .aboutUsHero2 {
    background-position: -27rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .cargoHero2 {
    background-position: -20rem -8rem !important;
    background-repeat: no-repeat !important;
  }
  .newsHero2 {
    background-position: -38rem -5rem !important;
    background-repeat: no-repeat !important;
  }
  .airfrancehero2 {
    background-position: -16rem -8rem !important;
    background-repeat: no-repeat !important;
  }
  .privacyHero2 {
    background-position: -42rem -3rem !important;
    background-repeat: no-repeat !important;
  }
  .termsHero2 {
    background-position: -70rem -4rem !important;
    background-repeat: no-repeat !important;
  }
  .passengerhero2 {
    background-position: -31rem -6rem !important;
    background-repeat: no-repeat !important;
  }

  .responsive {
    background-size: auto !important;
  }

  .bg-overlay-gradient-secondary-2:before {
    height: 36rem !important;
  }

  .noMargin {
    margin-left: 0rem !important;
  }

  .rowContent {
    display: flex !important;
  }

  .customImgIcon {
    width: 5% !important;
    margin-right: 1%;
  }

  .mission-vission-txt {
    font-size: 1.6rem !important;
  }

  .contactnumfield02 {
    margin-left: 0rem !important;
  }
  .promotitle {
    color: #ffffff;
    font-size: 15px !important;
  }
}

@media only screen and (min-width: 576px) {
  .cookie-policy-popup-content {
    top: 70% !important;
  }

  .bg-img {
    height: 364px !important;
  }

  .gulfAirHero2 {
    background-position: -12rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsiaHero2 {
    background-position: -1rem -5rem !important;
    background-repeat: no-repeat !important;
  }
  .airMauritiusHero2 {
    background-position: -1rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .americanAirlinesHero2 {
    background-position: -10rem -8rem !important;
    /* background-repeat: no-repeat !important; */
  }
  .airAsianaHero2 {
    background-position: -1rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .cinnamonAirHero2 {
    background-position: -14rem -7rem !important;
    background-repeat: no-repeat !important;
  }
  .kenyaAirHero2 {
    background-position: 0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .apgAirHero2 {
    background-position: -23rem -6rem !important;
    background-repeat: no-repeat !important;
  }
  .hongkongHero2 {
    background-position: -3rem -3rem !important;
    background-repeat: no-repeat !important;
  }
  .royalAirHero2 {
    background-position: -1rem -3rem !important;
    background-repeat: no-repeat !important;
  }
  .royalBruneiHero2 {
    background-position: -1rem -3rem !important;
    background-repeat: no-repeat !important;
  }
  .contactUsHero2 {
    background-position: -8rem -4rem !important;
    background-repeat: no-repeat !important;
  }
  .aboutUsHero2 {
    background-position: -14rem -6rem !important;
    background-repeat: no-repeat !important;
  }
  .cargoHero2 {
    background-position: -13rem -8rem !important;
    background-repeat: no-repeat !important;
  }
  .newsHero2 {
    background-position: -67rem -31rem !important;
    background-repeat: no-repeat !important;
  }
  .airfrancehero2 {
    background-position: -6rem -7rem !important;
    background-repeat: no-repeat !important;
  }
  .privacyHero2 {
    background-position: -105rem -30rem !important;
    background-repeat: no-repeat !important;
  }
  .termsHero2 {
    background-position: -105rem -30rem !important;
    background-repeat: no-repeat !important;
  }
  .passengerhero2 {
    background-position: -30rem -6rem !important;
    background-repeat: no-repeat !important;
  }

  .responsive {
    background-size: auto !important;
  }
  .contactnumfield02 {
    margin-left: -56px !important;
  }
  .promotitle {
    color: #ffffff;
    font-size: 18px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contact {
    padding: 1.2rem;
  }

  .contact .list-group .list-group-item {
    font-size: 14px;
  }

  h4 {
    font-size: 18px;
  }

  .bg-img {
    height: 430px !important;
  }

  .gulfAirHero2 {
    background-position: -10rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsiaHero2 {
    background-position: -1rem -4rem !important;
    background-repeat: no-repeat !important;
  }
  .airMauritiusHero2 {
    background-position: -1rem -5rem !important;
    background-repeat: no-repeat !important;
  }
  .americanAirlinesHero2 {
    background-position: -9rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsianaHero2 {
    background-position: 0rem -8rem !important;
    background-repeat: no-repeat !important;
  }
  .cinnamonAirHero2 {
    background-position: -3rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .kenyaAirHero2 {
    background-position: 0rem -5rem !important;
    background-repeat: no-repeat !important;
  }
  .apgAirHero2 {
    background-position: -12rem -7rem !important;
    background-repeat: no-repeat !important;
  }
  .hongkongHero2 {
    background-position: -2rem -1rem !important;
    background-repeat: no-repeat !important;
  }
  .royalAirHero2 {
    background-position: -1rem -5rem !important;
    background-repeat: no-repeat !important;
  }
  .royalBruneiHero2 {
    background-position: -1rem -1rem !important;
    background-repeat: no-repeat !important;
  }
  .contactUsHero2 {
    background-position: 0rem -4rem !important;
    background-repeat: no-repeat !important;
  }
  .aboutUsHero2 {
    background-position: 0rem -6rem !important;
    background-repeat: no-repeat !important;
  }
  .cargoHero2 {
    background-position: 0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .newsHero2 {
    background-position: -11rem -8rem !important;
    background-repeat: no-repeat !important;
  }
  .airfrancehero2 {
    background-position: -3rem -5rem !important;
    background-repeat: no-repeat !important;
  }
  .privacyHero2 {
    background-position: -22rem -4rem !important;
    background-repeat: no-repeat !important;
  }
  .termsHero2 {
    background-position: -48rem -5rem !important;
    background-repeat: no-repeat !important;
  }
  .passengerhero2 {
    background-position: -22rem 0rem !important;
    background-repeat: no-repeat !important;
  }

  .responsive {
    background-size: auto !important;
  }

  .contactnumfield02 {
    margin-left: -2px !important;
  }
  .promotitle {
    color: #ffffff;
    font-size: 15px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .bg-img {
    height: 561px !important;
  }

  .gulfAirHero2 {
    background-position: -1rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsiaHero2 {
    background-position: -0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .airMauritiusHero2 {
    background-position: -0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .americanAirlinesHero2 {
    background-position: -0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsianaHero2 {
    background-position: -0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .cinnamonAirHero2 {
    background-position: -0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .kenyaAirHero2 {
    background-position: 0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .apgAirHero2 {
    background-position: -0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .hongkongHero2 {
    background-position: 0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .royalAirHero2 {
    background-position: 0rem -9rem !important;
    background-repeat: no-repeat !important;
  }
  .privacyHero2 {
    background-position: -10rem -7rem !important;
    background-repeat: no-repeat !important;
  }
  .termsHero2 {
    background-position: -34rem -6rem !important;
    background-repeat: no-repeat !important;
  }
  .passengerhero2 {
    background-position: 0rem -9rem !important;
    background-repeat: no-repeat !important;
  }

  .responsive {
    background-size: auto !important;
  }

  .contactnumfield02 {
    margin-left: -42px !important;
  }
  .promotitle {
    color: #ffffff;
    font-size: 16px !important;
  }
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .bg-img {
    height: 300px !important;
  }

  .gulfAirHero2 {
    background-position: 0rem -12rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsiaHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .airMauritiusHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .americanAirlinesHero2 {
    background-position: 0rem -16rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsianaHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .cinnamonAirHero2 {
    background-position: 0rem -15rem !important;
    background-repeat: no-repeat !important;
  }
  .kenyaAirHero2 {
    background-position: 0rem -12rem !important;
    background-repeat: no-repeat !important;
  }
  .apgAirHero2 {
    background-position: 0rem -14rem !important;
    background-repeat: no-repeat !important;
  }
  .hongkongHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .royalAirHero2 {
    background-position: 0rem -14rem !important;
    background-repeat: no-repeat !important;
  }
  .royalBruneiHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .contactUsHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .aboutUsHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .cargoHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .newsHero2 {
    background-position: 0rem -14rem !important;
    background-repeat: no-repeat !important;
  }
  .airfrancehero2 {
    background-position: 0rem -11rem !important;
    background-repeat: no-repeat !important;
  }
  .privacyHero2 {
    background-position: -20rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .termsHero2 {
    background-position: -48rem -15rem !important;
    background-repeat: no-repeat !important;
  }

  .responsive {
    background-size: cover !important;
  }

  .contactnumfield02 {
    margin-left: -61px !important;
  }
  .promotitle {
    color: #ffffff;
    font-size: 16px !important;
  }
}

/* Extra Large devices 1400px and up) */
@media only screen and (min-width: 1400px) {
  .bg-img {
    height: 390px !important;
  }

  .gulfAirHero2 {
    background-position: 0rem -20rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsiaHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .airMauritiusHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .americanAirlinesHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .airAsianaHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .cinnamonAirHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .kenyaAirHero2 {
    background-position: 0rem -23rem !important;
    background-repeat: no-repeat !important;
  }
  .apgAirHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .hongkongHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .royalAirHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .royalBruneiHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .contactUsHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .aboutUsHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .cargoHero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .newsHero2 {
    background-position: 0rem -18rem !important;
    background-repeat: no-repeat !important;
  }
  .airfrancehero2 {
    background-position: 0rem -11rem !important;
    background-repeat: no-repeat !important;
  }
  .privacyHero2 {
    background-position: -20rem -10rem !important;
    background-repeat: no-repeat !important;
  }
  .termsHero2 {
    background-position: -48rem -15rem !important;
    background-repeat: no-repeat !important;
  }
  .passengerhero2 {
    background-position: 0rem -10rem !important;
    background-repeat: no-repeat !important;
  }

  .responsive {
    background-size: cover !important;
  }

  .contactnumfield02 {
    margin-left: -61px !important;
  }
  .promotitle {
    color: #ffffff;
    font-size: 16px !important;
  }
}

.toLearnMore {
  margin-top: 25px;
  font-weight: bold;
  color: #030343;
  font-size: 18px;
}
.about-section {
  padding-bottom: 0;
}

.rules_menu {
  color: #000000 !important;
}
.rules_title {
  margin-bottom: 55px;
  text-align: center;
}
.rules_subtitle {
  text-decoration: underline;
}
.fa-circle {
  color: #7a7878;
  font-size: 8px;
}
.rules_rules {
  list-style-position: outside;
}

.newsmargin {
  margin-bottom: 10rem;
}
.newsmarginbtn {
  color: #ffffff;
}

.contact_add {
  padding-top: 2rem;
}

.promoimage {
  /* max-height: 25rem; */
  height: 17rem;
  width: 27rem;
  padding-top: 1rem;
}

/* .blogimage{
  min-height: 22rem;
} */

.contactnumfield01 {
  height: 50px !important;
  line-height: 50px !important;
  border: none !important;
  border: 1px solid #eaeaea !important;
  border-radius: 1px !important;
  padding: 0 0 0 5px !important;
  font-size: 14px !important;
  border-radius: 2px !important;
  width: 7rem !important;
}

.contactnumfield02 {
  height: 50px;
  line-height: 50px;
  border: none;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  padding: 0 0 0 20px;
  font-size: 14px;
  border-radius: 2px;
  width: 100%;
  margin-left: -55px;
}

.project__img .project__img {
  height: 25rem !important;
  background-image: url();
  background-color: #000000;
}


.error_field {
  border-color: red;
}

.error,
.errorTxt {
  /* border: 1px solid red; */
  color: #cc2c31;
  min-height: 20px;
}

.paginationButton {
  background-color: #651111;
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .6rem;
  cursor: pointer;
  margin-right: 5px;
  width: 20px;
  min-width: 20px;
  height: 20px;
}